# .env.example
# Security Settings
SECRET_KEY=django-insecure-qd4h-v%-c2!pypr#hncby0&63!o(!@w!ewc#kc^)(dy0@f10)#
DEBUG=True
ALLOWED_HOSTS=*,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://*.trycloudflare.com,https://demo.harshalabs.online,https://*.harshalabs.online

# Database Settings
DB_NAME=aura
DB_USER=root
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=3306
